
# Dependencies
node_modules/
venv/
logs/
__pycache__/

# Environment variables
.env
.env.*

# Build output
dist/
build/
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea

